<h2>People Greeted</h2>
<form action="/greetings" method="POST">
 <button class="button-primary homeBtn" type="submit" name="HomeButton">Home</button>
</form>
<table>
    <tr>
        <th>
            Names Greeted 
        </th>
        <th>
            Counter
        </th>
    </tr>
    {{#each usersGreeted}}
    <tr>
        <td>
           {{name}} 
        </td>
        <td>
        Has been greeted {{count}}
        </td>
    </tr>
    {{/each}}
</table>