<h2>People Greeted</h2>
<form action="/" method="get">
 <button class="button-primary homeBtn" type="submit" name="HomeButton">Home</button>
</form>
<table>
    <tr>
        <th>
            Names 
        </th>
        <th>
            language
        </th>
         <th>
            Counter
        </th>
    </tr>
    {{#each usersGreeted}}
    <tr>
        <td>
           {{name}} 
        </td>
         <td>
           {{language}} 
        </td>
        <td>
         {{count}}
        </td>
    </tr>
    {{/each}}
</table>