<h2>People Greeted</h2>

<table>
    <tr>
        <th>
            Names Greeted 
        </th>
        <th>
            Counter
        </th>
    </tr>
    {{#each usersGreeted}}
    <tr>
        <td>
           {{name}} 
        </td>
        <td>
        Has been greeted {{count}}
        </td>
    </tr>
    {{/each}}
</table>