<head>
  <meta charset="utf8">
  <title></title>
  <link rel="stylesheet" href="/skeleton.css" type="text">
  <link rel="stylesheet" href="/normalize.css" type="text">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
  <div class="heading">
<h1> How many times greeted</h1>
<div class="box">
    {{#each time}} 
    <h4> {{name}} has been greeted {{count}} time(s)</h4> 
    {{/each}}
</div>
</div>